.grid {
  margin: 50px 0;
  &__inner {
    &-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 48px;
    }
    h2 {
      margin-bottom: 60px;
      text-align: center;
    }
  }
  &Item {
    width: calc(33.3% - 32px);
    &__image {
      width: 100%;
      margin-bottom: 24px;
    }
    &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-social {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
    h4 {
      margin-bottom: 4px;
    }
    P {
      color: $black-2;
    }
    .ratioImage {
      padding-bottom: 104%;
    }
    .button {
      &--icon {
        margin-right: 22px;
        svg {
          fill: $black-2;
        }
        &:hover {
          svg {
            fill: $primary;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &--service {
    padding: 120px 0;
    .grid {
      &Item {
        padding: 36px 20px;
        box-shadow: 0px 2px 8px rgba(16, 24, 40, 0.06);
        border-radius: 8px;
        background: $gray-3;
        @include transition;
        cursor: pointer;
        &__image {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 70px;
          height: 70px;
          margin: 0 auto 48px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        &__info {
          flex-direction: column;
          text-align: center;
          gap: 16px;
          justify-content: space-between;
          max-width: 278px;
          margin: 0 auto;
          p {
            color: $black-2;
          }
        }
        &:hover {
          box-shadow: 0px 12px 24px rgba(16, 24, 40, 0.08);
        }
      }
    }
  }
  &--achievement {
    margin: 50px 0;
    background: $gray-2;
    .grid {
      &__inner {
        padding: 155px 0 85px;
        &-header {
          max-width: 570px;
          margin: 0 auto 60px;
          text-align: center;
        }
        &-row {
          gap: 40px;
        }
        p {
          color: $black-2;
        }
        h2 {
          margin-bottom: 16px;
        }
      }
      &Item {
        width: calc(25% - 30px);
        padding: 23px 30px;
        background: $white;
        text-align: center;
        box-shadow: 0px 4px 16px rgba(16, 24, 40, 0.04);
        border-radius: 8px;
        h3 {
          color: $primary;
          font-weight: 700;
          margin-bottom: 8px;
        }
      }
    }
  }
}
.policy {
  margin: 190px 0 120px;
  &__inner {
    display: flex;
    justify-content: space-between;

    &-tabs {
      position: sticky;
      top: 100px;
      width: 270px;
      padding: 16px;
      background: $gray;
      border-radius: 8px;
      align-self: flex-start;

      h6 {
        font-weight: 500;
        margin-bottom: 10px;
      }
      a {
        display: block;
        padding: 10px 12px;
        border-radius: 8px;
        color: $black-2;
        line-height: 1.45em;
        &:hover {
          color: $primary;
        }
        &.active {
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
          background: $white;
          color: $primary;
        }
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;
      width: calc(100% - 330px);
      max-width: 770px;
    }
  }
  &Content {
    display: flex;
    &__header {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 24px;
      &.caption {
        margin-bottom: 48px;
      }
      p {
        color: $black-2;
      }
    }
    &__body {
      display: flex;
      flex-direction: column;
      gap: 16px;
      &.list {
        p {
          color: $black-2;
          strong {
            color: $black;
          }
        }
      }
      p {
        strong {
          font-weight: 500;
        }
      }
      h4 {
        margin-top: 8px;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
      li {
        color: $black-2;
        padding-left: 30px;
        position: relative;
        line-height: 1.65em;
        &::before {
          content: "";
          width: 6px;
          height: 6px;
          background: $black-2;
          border-radius: 50%;
          position: absolute;
          top: 13px;
          left: 14px;
        }
      }
    }
  }
}

@mixin policy-1160 {
  .policy {
    &__inner {
      &-content {
        padding-left: 350px;
        gap: 25px;
      }
    }
    &Content {
      &__body {
        ul {
          gap: 25px;
        }
      }
    }
  }
}
@mixin policy-1025 {
  .policy {
    &__inner {
      &-tabs {
        width: 260px;
      }
      &-content {
        padding-left: 300px;
        gap: 20px;
      }
    }
    &Content {
      &__header {
        margin-bottom: 20px;
        gap: 12px;
        &.caption {
          margin-bottom: 40px;
        }
      }
      &__body {
        ul {
          gap: 20px;
        }
      }
    }
  }
}
@mixin policy-940 {
  .policy {
    &__inner {
      &-tabs {
        width: 245px;
      }
      &-content {
        padding-left: 270px;
      }
    }
    &Content {
      &__header {
        margin-bottom: 18px;
        gap: 10px;
        &.caption {
          margin-bottom: 35px;
        }
      }
      &__body {
        ul {
          gap: 15px;
        }
      }
    }
  }
}
@mixin policy-768 {
  .policy {
    &__inner {
      &-tabs {
        width: 230px;
        padding: 12px;
        border-radius: 6px;
        a {
          padding: 9px 11px;
        }
      }
      &-content {
        padding-left: 250px;
        gap: 15px;
      }
    }
    &Content {
      gap: 30px;
      &__header {
        margin-bottom: 15px;
        gap: 6px;
        &.caption {
          margin-bottom: 25px;
        }
      }
      &__body {
        ul {
          gap: 10px;
        }
      }
    }
  }
}
@mixin policy-660 {
  .policy {
    &__inner {
      display: flex;
      flex-direction: column;
      gap: 30px;
      &-tabs {
        width: 100%;
        padding: 12px;
        border-radius: 6px;
        position: static;
        a {
          padding: 9px 11px;
        }
      }
      &-content {
        width: 100%;
        padding-left: 0;
        gap: 20px;
      }
    }
    &Content {
      gap: 30px;
      &__header {
        margin-bottom: 15px;
        gap: 6px;
        &.caption {
          margin-bottom: 25px;
        }
      }
    }
  }
}
@mixin policy-460 {
  .policy {
    &__inner {
      gap: 20px;
      &-content {
        width: 100%;
        padding-left: 0;
        gap: 15px;
      }
    }
    &Content {
      gap: 30px;
      &__header {
        margin-bottom: 10px;
        gap: 6px;
        &.caption {
          margin-bottom: 18px;
        }
      }
      &__body {
        li {
          padding-left: 20px;
          &::before {
            top: 8px;
            left: 8px;
            width: 4px;
            height: 4px;
          }
        }
      }
    }
  }
}
@mixin grid-1160 {
  .grid {
    &__inner {
      &-row {
        gap: 40px;
      }
      h2 {
        margin-bottom: 50px;
      }
    }
    &Item {
      width: calc(33.3% - 27px);
    }
    &--service {
      padding: 100px 0;
      .grid {
        &__inner {
          &-row {
            gap: 30px;
          }
        }
        &Item {
          &__image {
            margin-bottom: 38px;
            width: 65px;
            height: 65px;
          }
          &__info {
            gap: 12px;
          }
          width: calc(33.3% - 20px);
        }
      }
    }
    &--achievement {
      .grid {
        &__inner {
          padding: 140px 0 80px;
          &-row {
            gap: 30px;
          }
        }
        &Item {
          width: calc(25% - 24px);
        }
      }
    }
  }
}
@mixin grid-1025 {
  .grid {
    &__inner {
      &-row {
        gap: 35px 27px;
      }
      h2 {
        margin-bottom: 45px;
      }
    }
    &Item {
      width: calc(33.3% - 20px);
    }
    &--service {
      padding: 80px 0;
      .grid {
        &__inner {
          &-row {
            gap: 25px;
          }
        }
        &Item {
          &__image {
            margin-bottom: 30px;
            width: 60px;
            height: 60px;
          }
          &__info {
            gap: 10px;
          }
          width: calc(33.3% - 17px);
        }
      }
    }
    &--achievement {
      .grid {
        &__inner {
          padding: 120px 0 70px;
          &-header {
            margin-bottom: 50px;
          }
          &-row {
            gap: 25px;
          }
          h2 {
            margin-bottom: 12px;
          }
        }
        &Item {
          width: calc(25% - 20px);
        }
      }
    }
  }
}
@mixin grid-940 {
  .grid {
    &__inner {
      &-row {
        gap: 30px 20px;
      }
      h2 {
        margin-bottom: 35px;
      }
    }
    &Item {
      width: calc(33.3% - 14px);
      .button {
        &--icon {
          margin-right: 15px;
        }
      }
    }
    &--service {
      padding: 70px 0;
      .grid {
        &__inner {
          &-row {
            gap: 10px;
          }
        }
        &Item {
          padding: 30px 15px;
          &__image {
            margin-bottom: 25px;
            width: 55px;
            height: 55px;
          }
          &__info {
            gap: 8px;
          }
          width: calc(33.3% - 7px);
        }
      }
    }
    &--achievement {
      .grid {
        &__inner {
          padding: 100px 0 60px;
          &-header {
            margin-bottom: 40px;
            max-width: 530px;
          }
          &-row {
            gap: 15px;
          }
        }
        &Item {
          width: calc(25% - 14px);
          padding: 20px;
          h3 {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
@mixin grid-768 {
  .grid {
    &__inner {
      &-row {
        gap: 30px;
      }
    }
    &Item {
      width: calc(50% - 20px);
      &__image {
        margin-bottom: 20px;
      }
    }
    &--service {
      padding: 60px 0;
      .grid {
        &__inner {
          &-row {
            gap: 25px 20px;
          }
        }
        &Item {
          padding: 40px 30px;
          width: calc(50% - 15px);
          &__info {
            max-width: 245px;
          }
        }
      }
    }
    &--achievement {
      .grid {
        &__inner {
          padding: 80px 0 50px;
          &-header {
            margin-bottom: 30px;
          }
          &-row {
            gap: 25px 15px;
          }
          h2 {
            margin-bottom: 10px;
          }
        }
        &Item {
          width: calc(50% - 15px);
        }
      }
    }
  }
}
@mixin grid-660 {
  .grid {
    &__inner {
      &-row {
        gap: 25px 20px;
      }
    }
    &Item {
      width: calc(50% - 15px);
    }
    &--service {
      padding: 50px 0;
      .grid {
        &__inner {
          &-row {
            gap: 20px 15px;
          }
        }
        &Item {
          padding: 30px 20px;
          width: calc(50% - 10px);
          &__image {
            margin-bottom: 20px;
            width: 50px;
            height: 50px;
          }
          &__info {
            gap: 8px;
          }
        }
      }
    }
    &--achievement {
      .grid {
        &__inner {
          padding: 70px 0 50px;
        }
      }
    }
  }
}
@mixin grid-560 {
  .grid {
    &__inner {
      &-row {
        gap: 25px 10px;
      }
    }
    &Item {
      &__image {
        margin-bottom: 10px;
      }
      width: calc(50% - 7px);
    }
    &--service {
      .grid {
        &__inner {
          &-row {
            gap: 20px 10px;
          }
        }
        &Item {
          padding: 25px 15px;
          width: calc(50% - 7px);
          &__info {
            gap: 5px;
          }
        }
      }
    }
    &--achievement {
      .grid {
        &__inner {
          padding: 50px 0 40px;
          &-header {
            margin-bottom: 30px;
          }
          &-row {
            gap: 20px 10px;
          }
          h2 {
            margin-bottom: 10px;
          }
        }
        &Item {
          width: calc(50% - 10px);
          padding: 15px;
        }
      }
    }
  }
}
@mixin grid-460 {
  .grid {
    &__inner {
      &-row {
        gap: 25px;
      }
      h2 {
        margin-bottom: 30px;
      }
    }
    &Item {
      &__image {
        margin-bottom: 10px;
      }
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
    }
    &--service {
      .grid {
        &__inner {
          &-row {
            gap: 20px 10px;
          }
        }
        &Item {
          padding: 30px 15px;
          width: 100%;
          max-width: 350px;
          &__info {
            gap: 5px;
          }
        }
      }
    }
  }
}
@mixin grid-370 {
  .grid {
    &--achievement {
      .grid {
        &__inner {
          &-header {
            margin-bottom: 20px;
          }
          &-row {
            gap: 10px;
          }
        }
        &Item {
          width: 100%;
        }
      }
    }
  }
}
